body{
    font-family: 'Noto Sans TC';
}

header{
    height: 95px;
}

.header_container{
    height: 95px;
    background-color: #F7F7F7;
    position: relative;
}

.container{
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 95px;
}

.header_container::before{
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-color: #006341;
    position: absolute;
}

.header_container::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0.15;
    background-color: #1e1e1e;
    position: absolute;
}

.logo{
    text-align: center;
}

.logo a{
    width: 100%;
}

.logo a img{
    width: 50px;
    height: 50px;
}

/* 漢堡選單CSS */

.off-screen-menu{
    height: 100vh;
    width: 80%;
    max-width: 320px;
    background-color: #F7F7F7;
    position: fixed;
    top: 95px;
    right: -320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: large;
    transition: 0.5s ease;
}

.off-screen-menu.active{
    right: 0;
}

body.fixed{
    overflow: hidden;
}

.off-screen-menu > ul{
    height: auto;
    width: 90%;
    padding: 20px;
    border-bottom: 1px solid rgba(30,30,30,.2);
}

.off-screen-menu > ul > li{
    padding: 20px 0;
    position: relative;
}

.off-screen-menu > ul > li > a{
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.off-screen-menu .more-detail::after{
    content: '';
    background: url(https://www.starbucks.com.tw/objects/images/icon_left.svg) no-repeat;
    width: 1em;
    height: 1em;
    background-size: 50%;
    position: absolute;
    right: 0;
    rotate: 180deg;
}

.ham-menu{
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
}

.ham-menu span{
    height: 2px;
    width: 36px;
    background-color: #006341;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
}

.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2){
    opacity: 0;
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}

/* 結束 */

.top{
    background-color: #f4f4f4;
}

.top > .container{
    height: 35px;
}

.breadcrumb{
    padding: 0.4rem 0;
    font-size: 1.5rem;
    color: #53534a;
    text-align: left;
}

.breadcrumb li{
    display: inline-block;
    font-weight: 500;
    font-size: small;
    color: #a1a1a1;
}

.breadcrumb li a{
    background: transparent;
    text-decoration: none;
    color: inherit;
    line-height: 1em;
    font-size: 15px;
}

.breadcrumb > .point::after{
    content: '‧';
    text-align: center;
    padding: 0 0 0 4px;
}

.wrap{
    padding: 0 20px;
    margin-top: 30px;
}

.content > h1{
    margin: 40px 0;
}


.page_heading{
    font-size: 1.8rem;
    margin-bottom: 30px;
    font-weight: 500;
}

.contentflex .viewlist{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap
}

.contentflex .viewlist > a{
    text-decoration: none;
    padding: 0.6em;
    margin: 0 0.6em 0.5em 0;
    border: 1px solid gray;
    color: #1E1E1E;
    border-radius: 4px;
    font-weight: 400;
}

.section > h2{
    font-size: 1.5em;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 400;
}

.contentflex .itemwrap{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.item{
    width: 50%;
}

.iteminfo{
    /* width: 50%; */
    margin-right: 20px;
    margin-bottom: 20px;
}

.iteminfo > img{
    width: 100%;
    height: auto;
}

.iteminfo > h2{
    font-size: 1em;
    line-height: 20px;
    margin-top: 10px;
    font-weight: normal;
}

.fields{
    margin: 50px 0px 0px;
}

/* FOOTER */
footer{
    /* position: absolute;
    bottom: 0; */
    background-color: #f7f7f7;
}

.footer-top{
    border-bottom: 4px solid white;
}

.footer-top .social-icons > ul{
    display: flex;
}

.footer-top .social-icons li{
    margin-right: 20px;
}

.footer-top .social-icons li a img{
    width: 30px;
    height: 30px;
}

.footer-main{
    padding: 0 20px;
}

.footer-main .info_block{
    border-bottom: 1px solid #b3b3b3;
    padding: 20px 0;
}

.footer-main .info_block h4{
    font-size: 19px;
    padding: 15px 0;
    position: relative;
}

.footer-main .info_block h4::after{
    content: '';
    background: url(/resource/chevron-down.svg) no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
}

.footer-main .info_block h4.active::after{
    content: '';
    background: url(/resource/chevron-up.svg) no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
}

.footer-main ol{
    display: none;
}

.footer-main ol.active{
    display: block;
}

.footer-main ol li{
    margin: 10px 0;
}

.footer-buttom{
    width: 100%;
    height: 9px;
    background-color: #382f2d;
    position: relative;
}

.footer-buttom .buttom{
    width: 36px;
    height: 26px;
    background: url(/resource/Up_white.svg) no-repeat;
    background-position: center;
    background-size: 40%;
    width: 36px;
    height: 26px;
    background-color: #382f2d;
    position: fixed;
    right: 10px;
    bottom: 8px;
}

/* 動態網頁控制 */
@media screen and (min-width:768px){
    .header_container{
        height: 105px;
    }

    .container{
        max-width: 1320px;
        margin: 0 auto;
        height: 105px;
    }

    .wrap{
        max-width: 1320px;
        margin: 0 auto;
    }

    .header{
        display: flex;
        justify-content: space-between;
    }

    .logo a img{
        width: 62px;
        height: 62px;
    }

    .off-screen-menu{
        /* display: none; */
        left: 30px;
        top: 15px;
        height: 50px;
        position: relative;
        max-width: 1320px;

    }

    .off-screen-menu > ul{
        display: flex;
        flex-direction: row;
        border-bottom: none;
        width: 100%;
    }

    .off-screen-menu > ul > li{
        width: auto;
        padding: 0 20px;
    }

    .off-screen-menu .more-detail::after{
        display: none;
    }

    .ham-menu{
        display: none;
        width: 0;
    }

    .page_heading{

        font-size: 2rem;
        font-weight: 400;
    }

    .contentflex{
        display: flex;
    }

    .viewlist{
        display: flex;
        flex-direction: column;
        width: 250px;
        border: 1px solid #EDEEEE;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        margin-right: 80px;
        padding: 20px 0;
    }

    .contentflex .viewlist > a {
        width: 80%;
        border: none;
        margin: 0.3em 0.4em;
        text-align: center;
    }

    .contentflex .viewlist > a:hover{
        background-color: rgba(161, 161, 161, 0.2);   
    }

    .section{
        max-width: 784pt;
    }

    .section > h2{
        font-size: 1.8em;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .item{
        width: 25%;
    }

    .footer-main{
        max-width: 1320px;
        margin: 0 auto;
        display: flex;    
    }

    .footer-main .info_block{
        width: calc(100%/5);
    }

    .footer-main .info_block h4::after{
        display: none;
    }

    .footer-main .info-menu{
        display: block;
    }
}
/* 動態網頁控制 */